# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environments
venv/
env/

# Ignore environment variables
.env

# Ignore VSCode settings
.vscode/